.banner {
  width: 100%;
  height: 90vh;
  margin-top: 89px;
  position: relative;
  overflow: hidden;
}
.banner .banner-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/banner-img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner .banner-content {
  position: relative;
  z-index: 1;
  color: var(--basics-white);
  display: flex;
  flex-direction: column;
}

.banner .banner-content h3 {
  font-size: 3.6rem;
}
.banner .banner-content h1 {
  font-size: 6.5em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}

.banner .banner-content p {
  font-size: 1.2em;
}

.banner .nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 2em;
  cursor: pointer;
  z-index: 2;
}

.banner .nav-button .fa {
  font-size: 4.5rem;
  color: var(--gray-500);
}
.banner .prev-button {
  left: 120px;
}

.next-button {
  right: 120px;
}

.banner .nav-button:hover {
  opacity: 0.8;
}

.banner .banner-content button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: var(--base-size-36);
  font-weight: var(--font-weight-medium);
  border: unset;
  font-size: 26px;
  color: var(--gray-700);
  width: fit-content;
  margin: auto;
  padding: 16px 20px;
  background-color: var(--basics-white);
}

@media (max-width: 768px) {
  .banner .navbar-center .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .banner .banner-content h1 {
    font-size: 2em;
  }
  .banner .banner-content p {
    font-size: 1em;
  }
}
