.footer {
  padding: 30px 0;
  background-color: var(--black-900);
  height: 30vh;
}

.footer-container {
  width: var(--width-content);
  gap: 16px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.footer-item {
  flex: 1;
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-inline-start: 16px;
}

.footer-item .fa {
  cursor: pointer;
}

.footer-item h3 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: var(--basics-white);
  font-weight: 400;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
}

.footer-content .item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  color: var(--gray-500);
  font-weight: 400;
}

.footer-item:nth-child(1) {
  padding-inline-start: 0;
}

.footer-item:nth-child(1) h3 {
  font-family: "Times New Roman", Times, serif;
}

.footer-item:nth-child(1) .footer-content {
  font-size: 1.25rem;
  color: var(--gray-500);
}

.footer-item:nth-child(4) .footer-content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 3rem;
  color: var(--gray-500);
}
