.footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--black-900);
}

.footer-container {
  width: 80%;
  gap: 16px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.footer-item {
  flex: 1;
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-inline-start: 16px;
}

.footer-item:nth-child(1) {
  padding-inline-start: 0;
  font-family: "Times New Roman", Times, serif;
}

.footer-item:nth-child(1) h3 {
  font-family: "Times New Roman", Times, serif;
}

.footer-item:nth-child(4) .footer-content {
  display: inline;
}

.footer-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--basics-white);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
}

.footer-content .item {
  width: 100%;
}

.footer-content span {
  color: var(--gray-700);
}
