.navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  align-items: center;
  height: 12vh;
  background-color: var(--basics-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-content);
  margin: auto;
  height: 100%;
}
.navbar-left {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: var(--base-size-8);
  cursor: pointer;
}
.navbar-left .logo-icon {
  height: 26px;
}
.navbar-left .logo-text {
  font-family: "Times New Roman", Times, serif;
  line-height: 70%;
  font-weight: var(--font-weight-bold);
  font-size: 30px;
}
.navbar-center .nav-links {
  display: flex;
  gap: 15px;
}
.navbar-center .nav-links li {
  width: fit-content;
  text-align: center;
  transition: all 0.8s;
  text-transform: uppercase;
  padding: var(--base-size-8);
  font-size: var(--base-size-12);
  border-radius: var(--base-size-8);
  font-weight: var(--font-weight-medium);
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-center .nav-links li a {
  text-decoration: none;
  color: var(--gray-900);
  font-weight: var(--font-weight-bold);
  font-size: var(--base-size-20);
}
.navbar-center .nav-links li a:hover {
  color: var(--danger-background);
  opacity: 0.8;
}
.navbar-center .nav-links li a:target {
  font-size: 200px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}
.icon-wrapper {
  position: relative;
  display: inline-block;
  font-size: 24px;
  overflow: visible;
  cursor: pointer;
  transition: all 0.8s;
  width: fit-content;
}
.icon-wrapper .fa:hover {
  color: var(--danger-background);
  opacity: 0.8;
}
.notification-count {
  position: absolute;
  top: -20px;
  right: -20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15%;
  padding: 4px 8px;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  line-height: 1;
  z-index: 10;
  background-color: var(--danger-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
